<a href="https://colab.research.google.com/github/Auliaashylla01/CheckPoint-AVD/blob/main/Business_Understanding/CheckPoint_1_AVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Loan Approval**

Sebuah lembaga keunagan ingin meninjau proses persetujuan pinjaman agar keputusan yang dilakukan lebih adil dan berdasarkan data yang jelas. Proses persetujuan pinjaman dilakukan dengan mempertimbangkan beberapa hal seperti usia pemohon, besar pendapatan, status pekerjaan dan jumlah pinjaman yang diajukan. Oleh karena itu lembaga keuangan ingin mengetahui faktor mana yang paling berpengaruh terhadap persetujuan pinjaman.

#Import Library

In [ ]:
import pandas as pd

#Memuat Dataset

In [ ]:
file = "/content/loanapproval.csv"
df = pd.read_csv(file)
df

,applicant_id,age,gender,marital_status,annual_income,loan_amount,credit_score,num_dependents,existing_loans_count,employment_status,loan_approved
0,1,59,Male,Divorced,100073,7169,793,1,1,Unemployed,1
1,2,49,Male,Married,112197,23556,789,0,2,Employed,1
2,3,35,Male,Divorced,84429,27052,372,1,4,Unemployed,0
3,4,63,Female,Single,124195,11313,808,3,4,Self-employed,1
4,5,28,Female,Married,81627,13315,689,0,1,Unemployed,1
...,...,...,...,...,...,...,...,...,...,...,...
995,996,53,Female,Married,135598,6014,767,3,2,Employed,1
996,997,22,Male,Single,139028,15103,662,0,0,Self-employed,1
997,998,34,Female,Married,147517,21986,582,0,2,Employed,1
998,999,60,Female,Divorced,73161,49781,635,4,0,Unemployed,1
999,1000,60,Female,Single,141316,35471,461,1,1,Unemployed,1

#**Business Understanding**

##Business Objective

Dataset Loan Approval

Dataset ini berisi data pengajuan pinjaman yang mencakup beberapa variabel seperti umur pemohon, jenis kelamin, status pernikahan, pendapatan, status pekerjaan, jumlah pinjaman yang diajukan, serta status persetujuan pinjaman. Tujuan pembahasan ini adalah untuk meninjau ulang proses persetujuan pinjaman agar keputusan yang diambil lebih adil dan memiliki dasar yang jelas, Karena proses keputusan persetujuan pinjaman mengacu pada beberapa pertimbangan umum dan tanpa analisis yang terstruktur.

Melalui dataset ini diharapkan dapat memahami faktor utama yang memengaruhi persetujuan pinjaman. Selain itu untuk meningkatkan konsistensi pengambilan keptusan dalam proses persetujuan pinjaman sehingga tidak terjadi perbedaan penilaian antar pemohon dengan kondisi yang serupa.

Dataset ini terdapat 1000 baris dan 11 kolom.

##Assess Situation

Dataset ini berisi informasi finansial dan demografis dari 1.000 pemohon pinjaman, termasuk pendapatan tahunan, skor kredit, jumlah pinjaman, jumlah tanggungan, status pekerjaan, dan status persetujuan. Variabel target memiliki dua nilai: 1 (disetujui) atau 0 (ditolak). Tantangan dalam dataset ini kemungkinan adanya ketidakseimbangan jumlah antara pinjaman yang disetujui dan ditolak, yang dapat memengaruhi penilaian hasil analisis.

Selain itu perlu adanya perhatian lebih adanya data kosong, inkonsistensi format, atau nilai yang sangat tinggi atau rendah pada variabel seperti pendapatan dan jumlah pinjaman. Tantangan lainnya adalah memastikan variabel-variabel dalam dataset sesuai dengan tujuan analisis, sehingga informasi yang diperoleh dapat digunakan secara tepat.

##Analytic Goals & Project Plans

Dalam dataset ini akan dilakukan:

*   Mengidentifikasi tren dan pola persetujuan Pinjaman: Melihat apakah usia, pendapatan, atau status pekerjaan berhubungan dengan kemungkinan pinjaman disetujui.
*   Menganalisis faktor penentu Persetujuan: variabel-variabel seperti pendapatan, jumlah pinjaman, dan status pekerjaan untuk mengetahui faktor mana yang paling memengaruhi keputusan persetujuan.
*   Menilai keseimbangan data: Perbedaan jumlah pemohon yang disetujui dan ditolak, sehingga menghindari potensi bias dari ketidakseimbangan data.
*   Membuat visualisasi data: Menyajikan pola dan tren dalam bentuk grafik ataupun diagram agar hubungan antar variabel lebih mudah dipahami.
*   Memberikan informasi untuk pengambilan: Menyediakan standar persetujuan pinjaman yang lebih adil, konsisten, dan berbasis data.
*   Menyiapkan Dasar Analisis Lanjutan: Sebagai referensi pengembangan model prediksi persetujuan pinjaman.